* {
    all: unset;
    border: none;
    border-radius: 4px;
    font-family: JetBrains Mono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #0F0F0F;
}

#workspaces button {
    padding: 0 0.7em;
    background-color: transparent;
    color: #f8f8f2;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #f8f8f2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#tray,
#wireplumber,
#language,
#mpd {
    padding: 0 10px;
    margin: 6px 3px;
    color: #f8f8f2;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #1B4242;
}

#memory {
    background-color: #1B4242;
}

#network {
    background-color: #1B4242;
}

#network.disconnected {
    background-color: #f53c3c;
}

#wireplumber {
    background-color: #232D3F;
}

#wireplumber.muted {
    background-color: #f53c3c;
}


#temperature {
    background-color: #ff79c6;
    color: #282a36;
}

#temperature.critical {
    background-color: #ff5555;
    color: #282a36;
}

#tray {
    background-color: #bd93f9
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
