* {
    all: unset;
    border: none;
    border-radius: 4px;
    font-family: JetBrains Mono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #282828;
    color: #fbf1c7;
}

#workspaces button {
    padding: 0 0.7em;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #fb4934;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#tray,
#wireplumber,
#language,
#mpd {
    padding: 0 10px;
    margin: 6px 3px;
    background-color: #3c3836;
}

#language {
    padding: 0 10px;
    margin: 6px 3px;
    background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
}

/* #cpu {
    background-color: #1B4242;
}

#memory {
    background-color: #1B4242;
}

#network {
    background-color: #1B4242;
} */

#network.disconnected {
    background-color: #fb4934;
}

#wireplumber.muted {
    background-color: #fb4934;
}

#tray {
    background-color: #bd93f9
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
